@model BugTracker.Models.TicketAttachment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TicketAttachment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <label class="btn btn-outline-secondary btn-sm">
                Upload File
                <input asp-for="@Model.FormFile" type="file" required />
            </label>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Created" class="form-control" />


            <input type="hidden" asp-for="FileName" class="form-control" />


            <input type="hidden" asp-for="FileData" class="form-control" />
            <input type="hidden" asp-for="ContentType" class="form-control" />

            <select type="hidden" asp-for="TicketId" class="form-control" asp-items="ViewBag.TicketId"></select>


            <select type="hidden" asp-for="CustomUserId" class="form-control" asp-items="ViewBag.CustomUserId"></select>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary md-btn-flat">Upload</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

