@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomUser> userManager

@using BugTracker.Services
@inject ICustomRoleService roleService


@{
    ViewData["Title"] = "Manage Role";
}
@{
    var people = userManager.Users.ToList();
 
}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-dark">
                    <h3 class="card-title">Manage Role</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form asp-action="ManageRole" method="post">
                             
                                    <div class="row">
                                        <div class="col">
                                            <div class="card card-default">
                                                <div class="card-body" style="padding:0;">
                                                    <div class="row">
                                                        <div class="col-12 text-center">
                                                            <div class="form-group">
                                                                <label class="form-control bg-dark"><i class="fas fa-chevron-down"></i> Select Role <i class="fas fa-chevron-down"></i></label>

                                                                <select class="form-control  select2bs4" style="width: 100%;" name="role" asp-items="ViewBag.roles"></select>
                                                            </div>
                                                            <br /><hr />
                                                            <div class="form-group">
                                                                <label class="form-control bg-dark"><i class="fas fa-chevron-down"></i> Select Users <i class="fas fa-chevron-down"></i></label>
                                                                <select class="duallistbox" size="15" multiple="multiple" name="userId" asp-items="ViewBag.users"></select>
                                                            </div>
                                                            <!-- /.form-group -->
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                    </div>
                         
                               
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn btn-secondary form-control">Add</button>
                                        </div>
                                    </div>
                                
                            </form>
                        </div>
                        <div class="col-6">

                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h3 class="card-title">All Projects</h3>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" placeholder="Search Users/Roles" id="searchUserRole">
                                            <div class="input-group-append">
                                                <div class="btn btn-primary">
                                                    <i class="fas fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped projects table-hover" id="viewUserRole">
                                        <thead>
                                            <tr>
                                                <th>
                                                   User Name
                                                </th>
                                                <th>
                                                    Roles
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in people)
                                            {
                                            <tr>
                                                <td>
                                                    @user.FullName
                                                </td>
                                                <td>
                                                    @foreach (var roless in (await roleService.ListUserRoleAsync(user)))
                                                    {
                                                        <div class="row">
                                                            @roless
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->


                            @*<div class="row">
                                <div class="col-1"></div>
                                <div class="col"><b>User Name</b></div>
                                <div class="col"></div>
                                <div class="col-3">


                                    <div class="row">
                                        <b>Roles</b>
                                    </div>

                                </div>
                                <div class="col-1"></div>
                            </div><br />
                            <hr />

                            @foreach (var user in people)
                            {
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col">@user.FullName</div>
                                    <div class="col"></div>
                                    <div class="col-3">
                                        @foreach (var roless in (await roleService.ListUserRoleAsync(user)))
                                        {
                                            <div class="row">
                                                @roless
                                            </div>
                                        }
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <hr />
                            }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   


